:root {
  --primary-color: #084383;
  --text-color: #000;
}
p {
  margin: 0.4em 0;
  line-height: 1.5em;
  padding-left: 1em;
}
body {
  font-size: 16px;
  font-family: sourceHanSerif;
}
@media print {
  html,
  body {
    width: 210mm;
  }
}
@media screen {
  html,
  body {
    background-color: #333;
    margin: 0;
    padding: 0;
  }
  .paper {
    background-color: #fff;
    width: 900px;
    margin: 2rem auto;
    padding: 2rem 4rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
  }
}
.text-icon {
  margin-right: 0.25em;
  fill: var(--primary-color);
  position: relative;
  bottom: -0.125em;
}
.text-link {
  color: var(--text-color);
  text-decoration: none;
}
header {
  margin-bottom: 0; /* Remove bottom margin from header */
  padding-bottom: 0; /* Remove bottom padding from header */
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0; /* Ensure no bottom margin */
}
.base-info {
  display: flex;
  margin-bottom: 0; /* Ensure no bottom margin */
}
.info-item {
  line-height: 1.5em;
  margin-right: 1em;
}
.links {
  margin: 0.4em 0 0; /* Remove bottom margin */
  display: flex;
}
.links svg {
  color: var(--primary-color);
}
.links>a {
  margin-right: 2em;
}
.chapter {
  margin: 0.1em 0; /* Minimize top margin */
}
article {
  margin-top: 0; /* Remove top margin from article */
  padding-top: 0; /* Remove top padding from article */
}
.chapter-title {
  font-size: 1.3rem;
  margin: 0.1rem 0 0.5rem;
  font-weight: bold;
}
.chapter-title svg {
  color: var(--primary-color);
}
.tips {
  font-size: 0.5em;
  font-family: sans-serif;
  font-weight: normal;
  display: inline-block;
}
.section {
  margin: 0;
}
.section__head {
  display: flex;
  font-family: sans-serif;
  align-items: flex-end;
  text-decoration: none;
  color: var(--primary-color);
}
.section-title {
  margin-right: 0.4em;
  font-weight: bold;
}
.section-title-des {
  font-size: 0.8em;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 调整垂直对齐方式 */
  margin-bottom: 0.5em; /* 减少底部空白 */
}
.info-details {
  flex-grow: 1; /* Allow info details to take up available space */
}
.resume-photo {
  max-width: 150px; /* Limit photo width */
  max-height: 200px; /* Limit photo height */
  margin-left: 2em; /* Add some space between info and photo */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 4px; /* Optional: add rounded corners */
}
footer {
  text-align: center;
}
.online-link {
  display: block;
  margin: 10px 0;
}
.enginer {
  margin: 20px 0;
  display: block;
  text-decoration: none;
  color: #ddd;
  font-size: 0.75em;
}
